html{
    scroll-behavior: smooth;
}

.main{
    background: #246760;
}

.main_logo_img{
    max-width: 170px; 
    width: 170px;
    display: block;
    margin: 0 auto;
}

.main_wrapper{
    padding: 50px 90px;
    background: #d2ae6c;
}
.main_btn{
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    background: #6683b7;
    border: none;
    padding: 10px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}

.main_subt{
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    
  
}

.main_instuction{
    padding-bottom: 40px;
}

.first{
    background: url("https://optim.tildacdn.biz/tild6335-6235-4232-b163-633863633838/-/cover/96x96/center/center/-/format/webp/noroot.png");
    border-width: 2px;
    border-radius: 3000px;
    background-color: #d2ae6c;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: #000000;
    border-style: solid;
    width: 84px;
    height: 84px;
}

.second{
    background: url("https://optim.tildacdn.biz/tild3064-6664-4935-b333-613833643464/-/cover/96x96/center/center/-/format/webp/depositphotos_460211.png");
    border-width: 2px;
    border-radius: 3000px;
    background-color: #2d446e;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: #000000;
    border-style: solid;
    width: 84px;
    height: 84px;
}

.third{
    background: url("https://optim.tildacdn.biz/tild3430-3835-4065-a365-323130383038/-/cover/96x96/center/center/-/format/webp/free-icon-investigat.png");
    border-width: 2px;
    border-radius: 3000px;
    background-color: #6683b7;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: #000000;
    border-style: solid;
    width: 84px;
    height: 84px;
}

.dash{
    height: 35px;
    width: 2px;
    background: #fff;
    display: block;
}

.main_center{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    gap: 30px;
}

.main_left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_right{
  width: 70%;
}
.main_item{
    color: aliceblue;
}

.main__footer{
    background: #2d446e;
    border-top: 1px solid #00000000;
    padding-bottom: 70px;
}

.footer_title{
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}

.footer_text{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    font-weight: 300;
}

.footer_contact{
 
    display: flex;
    list-style: none;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    padding: 0;
}

.footer_email{
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 100px;
    text-decoration: none;
}




.main_header{
    background: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header_nav{
     display: flex;
     width: 40%;
     justify-content: space-between;
     margin: 0 auto;
     

}

.nav_item{
    flex-direction: column;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}


.nav_img{
    width: 30px;
    height: 30px;
}

.card_wrapper{
    display: flex;
}
.card_left{
    width: 70%;
}

.card_title{
    font-size: 20px;
    line-height: 1.35;

    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 500;
    color: #000000;
}
.card_sku{
    margin-top: 4px;
    color: #777;
}

.card_link{
    background: #d2ae6c;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    width: 200px;
    border-radius: 100px;
    margin-top: 15px;
    display: block;
    text-align: center;
}

.card_descr{
    font-size: 14px;
    font-weight: 200;
}
.not_found{
    font-size: 40px;
    text-align: center;
    padding: 40px;
}


.history{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    background: #fff;
    padding: 24px;
    box-shadow:0 0 10px 0 rgba(0,0,0,.2)
}

.hostory_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a7a7a7;
    padding-bottom: 24px;
}
.hostory_title{
    font-size: 24px;
}
.history_close{
    font-size: 44px;
    font-weight: 100;
    cursor: pointer;
}

.history_content{
    overflow-y: scroll;
    height: 90%;
    margin-top: 24px;
}

.history__item{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    border-bottom: 1px solid #a0a0a0;
    padding-bottom: 20px;
    color: #000000;
    text-decoration: none;
}

.history_img{
    width: 80px;
    height: 80px;
    padding: 12px;
    border: 1px solid #a5a5a5;
    border-radius: 14px;
}

.history_item_delete{
    font-size: 44px;
    font-weight: 100;
}

@media (max-width: 600px ) {
    .main_center{
        width: 100%;
    }
    .main_right{
        font-size: 10px;
        width: 100%;
    }
    
}

@media (max-width: 748px ) {

    .card_wrapper{
        flex-direction: column;
    }
    .header_nav{
        width: 100%;
    }
}


@media (max-width: 1000px ) {

    .card_wrapper{
        flex-direction: column;
    }
    .card_left{
        margin: 0 auto;
    }
   
}
